@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

/* main style */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

/* header */

.header {
    padding-top: 48px;
    /* background: #005AD5; */
    background: #bdc0c2;
}

.header-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 98px;
}

.container {
    max-width: 1410px;
    margin: 0 auto;
}

.header-logo {
    display: block;
    width: 233px;
}

.nav {
    display: flex;
    align-items: baseline;
}

.menu {
    display: flex;
    gap: 98px;
}

.link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #fff
}

/* end-header */

/* hero */

.hero {
    padding: 226px 0 160px;
    /* background: #005AD5; */
    background: #bdc0c2;
    clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
}

.hero-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-content {
        padding-left: 135px;
}

.hero-img {
    max-width: 613px;
    width: 100%;
}

.hero-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 65px;
    white-space: nowrap;
    color: #fff;
}

.hero-text {
    max-width: 462px;
    font-weight: 400;
    font-size: 14.5895px;
    line-height: 22px;
    padding-top: 38px;
    padding-bottom: 50px;
    color: #fff;
}

.hero-link {
    display: block;
    width: 125px;
    padding: 16px 0 16px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #005AD5;
    background: #fff;
    border-radius: 10px;
}